<div id="container">
  <div class="row justify-content-center justify-content-lg-between">
    <div class="col-lg-5 col-sm-12">
      <h3>PRODECO</h3>
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing
        elit.</h5>
      <img width="75" height="45" src="assets/euflag.png" alt="">
      <div class="row">
        <div class="col-lg-6"><a target="_blank"
                                 href=" https://handicap-international.fr/fr/politique-de-confidentialite">
          <h5>{{'footer.privacy_policy' | translate}}</h5></a></div>
        <div class="col-lg-6"><a target="_blank" href="https://handicap-international.fr/fr/mentions-legales">
          <h5>{{'footer.terms_of_use' | translate}}</h5></a></div>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
      <div class="row text-center">
        <div class="col-xl-3 col-lg-6 col-md-3 col-sm-6">
          <a target="_blank" href="https://handicap-international.fr/">
            <img width="160" src="assets/hi_logo.png" alt="">
          </a>
          <a target="_blank" href="https://handicap-international.fr/fr/contact">
            <p>Contact</p>
          </a>
          <a target="_blank" href="https://don.handicap-international.fr/don-1?mrasn=677263.839863.fX2H1amB">
            <p>{{'footer.support' | translate}}</p>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-3 col-sm-6">
          <a target="_blank" href="https://www.fsd.ch//">
            <img width="160" src="assets/FSD_logo.png" alt="">
            <p>Contact</p>
          </a>
          <a href="https://www.fsd.ch/how-you-can-help-us/become-a-donor" target="_blank">
            <p>{{'footer.support' | translate}}</p>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-3 col-sm-6">
          <a target="_blank" href="https://www.maginternational.org/">
            <img width="160" src="assets/MAG-logo.png" alt="">
            <p>Contact</p>
          </a>
          <a href="https://www.maginternational.org/how-to-help/make-donation/" target="_blank">
            <p>{{'footer.support' | translate}}</p>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-3 col-sm-6">
          <a target="_blank" href="https://www.maginternational.org/">
            <img width="160" src="assets/MAG-logo.png" alt="">
          </a>
          <p>Contact</p>
          <p>{{'footer.support' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

