<div id="container">
  <div>
    <div>
      <h3>PRODECO</h3>
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit.</h5>
    </div>
  </div>
  <div>
    <div class="row justify-content-center">
      <div class="col-lg-3">LOGO1</div>
      <div class="col-lg-3">LOGO2</div>
      <div class="col-lg-3">LOGO3</div>
      <div class="col-lg-3">LOGO4</div>
    </div>
  </div>
</div>

