<div id="container">
  <div class="row justify-content-center justify-content-lg-betweenti">
    <div style="margin-bottom: 1rem" class="col-lg-6 col-sm-6">
      <h3>PRODECO</h3>
      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing
        elit.</h5>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a target="_blank" href="https://www.fsd.ch//">
            <img class="img-fluid" src="assets/FSD_logo.png" alt="">
            <h4>FSD</h4>
            <p>Contact</p>
          </a>
          <a href="https://www.fsd.ch/how-you-can-help-us/become-a-donor" target="_blank">
            <p>{{'footer.support' | translate}}</p>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a target="_blank" href="https://handicap-international.fr/">
            <img class="img-fluid" src="assets/hi_logo.png" alt="">
            <h4>HI</h4>
          </a>
          <a target="_blank" href="https://handicap-international.fr/fr/contact">
            <p>Contact</p>
          </a>
          <a target="_blank" href="https://don.handicap-international.fr/don-1?mrasn=677263.839863.fX2H1amB">
            <p>{{'footer.support' | translate}}</p>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a target="_blank" href="https://www.maginternational.org/">
            <img class="img-fluid" src="assets/MAG-logo.png" alt="">
            <h4>MAG</h4>
            <p>Contact</p>
          </a>
          <a href="https://www.maginternational.org/how-to-help/make-donation/" target="_blank">
            <p>{{'footer.support' | translate}}</p>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a target="_blank" href="https://www.maginternational.org/">
            <img class="img-fluid" src="assets/MAG-logo.png" alt="">
          </a>
          <h4>MAG</h4>
          <p>Contact</p>
          <p>{{'footer.support' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

