<!--<a routerLink="/home"><h1 class="title">PRODECO</h1></a>-->
<div id="nav-content" class="row justify-content-end">
  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg"
              [className]="color === 'white' ? 'navbar-dark' : 'navbar-light' ">
    <!-- Navbar brand -->
    <mdb-navbar-brand></mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto"></ul>
      <div id="navbar-items" class="form-inline waves-light" mdbWavesEffect>
        <span [style.color]="selectedLanguage === 'fr' ? 'white' : '#2582cd'"
              [style.background]="selectedLanguage === 'fr' ? '#2582cd' : ''" (click)="onchangeLanguage('fr')"
              class="nav-link waves-light pointer" mdbWavesEffect>FR</span>
        <span [style.color]="selectedLanguage === 'en' ? 'white' : '#2582cd'"
              [style.background]="selectedLanguage === 'en' ? '#2582cd' : ''" (click)="onchangeLanguage('en')"
              class="nav-link waves-light pointer" mdbWavesEffect>EN</span>
      </div>
      <!-- Links -->
    </links>
  </mdb-navbar>
</div>
