.carousel-control-next, .carousel-control-prev, .carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  text-align: center;
}

video {
  background-image: url('../../../assets/projects/deminage/6_HI-Depart_des_demineurs_HI_pour_le_terrain 3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  max-width: 2078px;
  width: 100%;
}

.col-12 {
  padding: 0;
}

h4  {
  margin-bottom: 12rem;
}

h2 {
  font-size: 64px;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

@media (max-width: 1159px) {
  h4, h2 {
    display: none;
  }
}
