<div class="row row-cols-2">
  <div style="float: left">
    <a routerLink="/home">
      <img id="title" width="300" src="assets/LogoPRODECO.png">
    </a>
  </div>
  <div style="float: right">
    <app-navbar [color]="'black'"></app-navbar>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9 mb-5 mt-5 justify-content-center">
  <iframe class="embed-responsive-item"
          [src]="article.sourceURL | safe"></iframe>
</div>

<ng-template #typeText>
  <div class="content">
    <div id="coverImage" class="header" [style.background]="'url(' + article.coverPictureUrl + ')'"
         [style.backgroundPosition]="'center'">
    </div>
    <div class="row">
      <div class="col-10 text-left">
        {{article.country}}
      </div>
      <div class="col-2 text-right">{{formatDate()}}</div>
    </div>
    <div class="text-left">
      <p>{{article.description}}</p>
    </div>
  </div>
</ng-template>
