.content {
  max-width: 2048px;
  text-align: center;
  margin: 5rem 8rem;
}

.header {
  text-align: left;
  width: 100%;
  max-height: 493px;
}

#title {
  margin-top: 2.5rem;
  margin-left: 9rem;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 3rem auto 10rem auto;
}

#coverImage {
  height: 493px;
  width: 100%;
  border-radius: 0.7rem;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

pdf-viewer {
  position: static;
}

@media (max-width: 701px) {
  #title {
    margin-left: 3rem;
  }

  .content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
