<div class="row row-cols-2">
  <div style="float: left">
    <a routerLink="/home">
      <h1>PRODECO</h1>
    </a>
  </div>
  <div style="float: right">
    <app-navbar [color]="'black'"></app-navbar>
  </div>
</div>
<div class="content">
  <div>
    <div id="coverImage" class="header" [style.background]="'url(' + article.coverPictureUrl + ')'"
         [style.backgroundPosition]="'center'">
    </div>
    <div class="row">
      <div class="col-10 text-left">
        {{article.country}}
      </div>
      <div class="col-2 text-right">{{formatDate()}}</div>
    </div>
  </div>
  <div class="text-left">
    <p>{{article.description}}</p>
  </div>
</div>
