<div class="row justify-content-xl-between justify-content-center" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="col-12">
    <h2>Volets</h2>
  </div>
  <div *ngFor="let project of projects" class="card col-xl-2 col-lg col-md-6">
    <div class='animated-background' *ngIf="!imagesLoaded.get(project.id)"></div>
    <a (mouseenter)="mouseEnter(project)"
       [style.height]="!imagesLoaded.get(project.id) ? '0px' : 'auto'" [routerLink]="'/project-details/' + project.id">
      <img [@fadeIn]="imagesLoaded.get(project.id)" [@pulse]="imagesHover.get(project.id) === true"
           [style.visibility]="!imagesLoaded.get(project.id) ? 'hidden' : ''" class="card-img-top"
           [src]="project.coverPictureUrl" alt="" (load)="imageLoaded(project)" appImg="lazy">
      <div class="card-body">
        <h5 *ngIf="imagesLoaded.get(project.id)"
            class="card-title">{{ 'projects.' + project.id + '.title' | translate}}</h5>
      </div>
    </a>
  </div>
</div>

