h2 {
  margin: 4rem 0 3rem;
}

img {
  height: 240px;
  width: 100%;
  border-radius: 0.7rem;
}

#coverImage {
  height: 240px;
  width: 100%;
  border-radius: 0.7rem;
  background-position: center;
}
