h2 {
  margin: 4rem 0 3rem;
}

img {
  height: 240px;
  width: 100%;
  border-radius: 0.7rem;
}

#coverImage {
  height: 240px;
  width: 100%;
  border-radius: 0.7rem;
  background-position: center;
}

.card-text {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

iframe {
  border-radius: 0.7rem;
  border: none;
  max-width: 1140px;
  height: 512px;
  width: 100%;
}
