mdb-navbar {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 3rem;
  padding-left: 7rem;
  padding-right: 2rem;
}

:host ::ng-deep nav {
  box-shadow: none !important;
}

h1, span {
  color: white;
}

h1 {
  /*font-family: Roboto;*/
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.45px;
}

.content-wrapper {
  margin: 8rem 8rem 3rem 8rem;
}

