<div class="container">
  <a routerLink="/home"><h1 class="title">PRODECO</h1></a>
  <mdb-navbar style="background: red" [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-dark">
    <!-- Navbar brand -->
    <mdb-navbar-brand></mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto"></ul>
      <div id="navbar-items" class="form-inline waves-light" mdbWavesEffect>
        <span class="nav-link waves-light" mdbWavesEffect>FR</span>
        <span class="nav-link waves-light" mdbWavesEffect>EN</span>
      </div>
      <!-- Links -->
    </links>
  </mdb-navbar>
  <router-outlet></router-outlet>
</div>

<footer>
  <app-footer></app-footer>
</footer>

