<ng-template #content let-modal>
  <div style="position:absolute; top: 0.5rem; right: 0.5rem">
    <img class="pointer" (click)="onCloseModal()" width="25" src="./assets/multiply.svg" alt="">
  </div>
  <div style="position:absolute; top: 40%; left: 0.1rem">
    <img (click)="displayPrev()" class="pointer" width="45" src="./assets/angle-left-b.svg" alt="">
  </div>
  <img *ngIf="!currentGalleryImage.isVideo" [src]="currentGalleryImage.url" appImg="lazy">
  <div style="position:absolute; top: 40%; right: 0.1rem">
    <img (click)="displayNext()" class="pointer" width="45" src="./assets/angle-right-b.svg" alt="">
  </div>
  <div class="pointer" (click)="shoGalleryInfo = !shoGalleryInfo" [style]="shoGalleryInfo ? 'border: solid 1px' : ''"
       id="show-info">
    <img width="25"
         [src]="shoGalleryInfo ? './assets/image.svg' : './assets/align-left-justify.svg'" alt="">
  </div>

  <div *ngIf="shoGalleryInfo" class="modal-footer">
    <div class="btn-block ml-1">
      <p>{{'projects.' + project.id + '.gallery.' + currentGalleryImage.description | translate}}</p>
      <p>Author: {{currentGalleryImage.author}}</p>
    </div>
  </div>
</ng-template>


<div class="row row-cols-2">
  <div style="float: left">
    <a routerLink="/home">
      <h1>PRODECO</h1>
    </a>
  </div>
  <div style="float: right">
    <app-navbar [color]="'black'"></app-navbar>
  </div>
</div>
<div class="content">
  <div class="header">
    <h2>{{'projects.' + project.id + '.title' | translate}}</h2>
    <h4>{{project.description}}</h4>
    <h5>Crédits et remerciements - Copyright</h5>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let image of project.gallery; index as i">
      <div class='animated-background' *ngIf="!imagesLoaded.get(image.url)"></div>
      <span *ngIf="image.isVideo" id="video-marker">
        <img width="45px" src="/assets/play-circle.svg">
      </span>
      <img (load)="imageLoaded(image.url)" (click)="showInFullScreen(content, image, i)" class="img-fluid cover-img"
           [src]="image.url" appImg="lazy" [style.visibility]="!imagesLoaded.get(image.url) ? 'hidden' : ''">
    </div>
  </div>
</div>
