/* You can add global styles to this file, and also import other style files */
html, body {
  overflow-x: hidden;
}

.card {
  border: none;
}

.card-body {
  padding-left: 0;
}

.card-footer {
  padding-left: 0;
  background: none;
  border: none;
}

.pointer {
  cursor: pointer;
}

