.content-wrapper {
  margin: 2rem 8rem 3rem 8rem;
}

app-navbar {
  position: absolute;
  z-index: 99;
  top: 0.5rem;
  right: 0.1rem;
}

#title {
  color: white;
  position: absolute;
  z-index: 99;
  top: 3rem;
  left: 2.5rem;
  /*background: rgba(255, 255, 255, 0.4);*/
  padding: 0.2rem 0.6rem;
  border-radius: 0.5rem;
}

#overlay-header {
  background: linear-gradient(#DDDDDD, transparent);
  z-index: 99;
  height: 300px;
  width: 100%;
  position: absolute;
}

/*h1 {*/
/*  color: white;*/
/*  position: absolute;*/
/*  z-index: 99;*/
/*  top: 3.5rem;*/
/*  left: 8rem;*/
/*  background: rgba(0, 0, 0, 0.4);*/
/*  padding: 0.2rem 0.6rem;*/
/*  border-radius: 0.5rem;*/
/*}*/

h4 {
  margin-bottom: 6rem;
}

h2 {
  font-size: 64px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 601px) {
  .content-wrapper {
    margin: 4rem 1rem;
  }

  #title, #overlay-header {
    display: none;
  }
}
